*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244, 247, 255);
}
.menu{
    background-color: white;
    column-count:3;
    position: fixed;
    padding-top:20px;
    width: 100%;
    padding-bottom:20px;
    
}

.logo{
    margin-left: 90px;
    font-weight: bolder;
    color: rgb(24, 24, 90);
}
.nav-bar ul{
      margin:0;
      padding: 0;
      list-style-type: none;
      
      overflow: hidden;
      
}
.nav-bar li{
    float: left;
}

.nav-bar li a{
    display:block;
    text-decoration: none;
    color: rgb(104, 93, 145);
    font-size: 18px;
    margin-left:20px;

}

.btn button{
    background-color:rgb(24, 24, 90) ;
    color: white;
    border:solid 2px rgb(24, 24, 90);
    border-radius: 10px;
    padding:10px;
    font-size: 17px;
    margin-left: 100px;

}
.main1{
    margin-left: 50px;
   padding-top: 150px;
   column-count: 2;

}
.video{
    
    border:solid 5px 5px 5px rgb(49, 38, 38);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(226, 232, 249);
    width:80%;
    background-color: white;
    opacity: 100%;
}
video{
    height: 300px;
    width: 25%;
}
.main1 h1{
    font-size: 50px;
   margin-bottom: 40px;
}
.p1{
    font-size: 20px;
}
.main1 button{
    background-color:rgb(24, 24, 90) ;
    color: white;
    border:solid 2px rgb(24, 24, 90);
    border-radius: 10px;
    padding:10px;
    font-size: 17px;
   margin-top: 40px;

}
.p2{
    font-size: 13px;
    margin-top:10px;
    color:rgb(104, 93, 145) ;
}
.main2{
    margin-left: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    height: 120px;
    width:1336px;
    margin-top: 90px;
    margin-bottom: 90px;

}
.main3{
    padding: 20px;
    background-color: white;
}
.main31{
    column-count: 2;

}
.contain{
    column-count: 3;
}
.content1 a{
    color: rgb(35, 35, 35);
    text-decoration: none;
    font-size: 15px;
}
.content2 a{
    color: rgb(35, 35, 35);
    text-decoration: none;
    
    
}
.content3 h1 a{
    color: rgb(35, 35, 35);
    text-decoration: none;
    
}
.main32{
    text-align: center;
    margin-top: 50px;
}
.main32 p{
    margin-top:20px ;
    margin-bottom:50px ;
    color: rgb(35, 35, 35);
}
.img{
    font-size: 50px;
}
.link1{
    font-size: 20px;
    color:  rgb(35, 35, 35);
    gap:1px;
}
.main33{
    column-count: 2;
}
.main331{
    cursor: pointer;
    
}
.main332{
    cursor: pointer;
}
.main333{
    cursor: pointer;
}
.main331 button:hover{
    cursor: pointer;
    background-color: rgb(174, 174, 174);
}
.main332 button:hover{
    cursor: pointer;
    background-color: rgb(174, 174, 174);
}
.main333 button:hover{
    cursor: pointer;
    background-color: rgb(174, 174, 174);
}
.main33 img{
    width: 550px;
    height:300px;
    border: solid white 2px;
    border-radius: 22px;
    box-shadow:5px 5px 10px  10px rgb(238, 236, 236);
    margin-left: 90px;
}
.main331 button{
    font-size:20px;
    font-weight: bold;
    padding: 2px;
    border: solid 1px rgb(243, 237, 237) ;
    border-radius: 40%;
    height: 40px;
    width: 40px;
    box-shadow: 3px 3px 3px rgb(240, 238, 238);
}
.main332 button{
    font-size:20px;
    font-weight: bold;
    padding: 2px;
    border: solid 1px rgb(243, 237, 237) ;
    border-radius: 40%;
    height: 40px;
    width: 40px;
    box-shadow: 3px 3px 3px rgb(240, 238, 238);
    
}
.main333 button{
    font-size:20px;
    font-weight: bold;
    padding: 2px;
    border: solid 1px rgb(243, 237, 237) ;
    border-radius: 40%;
    height: 40px;
    width: 40px;
    box-shadow: 3px 3px 3px rgb(240, 238, 238);
}
.main331 h1,p{
font-size: 15px;
color: rgb(95, 94, 94);
margin-top:10px ;
margin-left:60px ;
}
.main332 h1,p{
font-size: 15px;
color: rgb(95, 94, 94);
margin-top:10px ;
margin-left:60px ;
}
.main333 h1,p{
font-size: 15px;
color: rgb(95, 94, 94);
margin-top:10px ;
margin-left:60px ;
}

.main34{
    margin-left: 600px;
    margin-top: 70px;
    margin-bottom: 70px;
    
}
.btn1{
    margin-right: 10px;
    border: solid rgb(24, 24, 90) ;;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-size: 15px;
    background-color:rgb(24, 24, 90) ;
    color: white;
    height: 50px;
    cursor: pointer;
}
.btn2{
    border:2px solid rgb(144, 144, 175) ;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    height: 50px;


}
.btn2:hover{
    cursor: pointer;
    background-color:rgb(144, 144, 175) ;
    color: black;
}

.main3511{
    background-color:white;
    border: solid white;
    border-radius: 10px;
    padding-left:15px;
    width: 400px;
    height: 200px;
    box-shadow:5px 5px 10px  10px rgb(238, 236, 236)
}

.main3512{
    background-color:white;
    border: solid white;
    border-radius: 10px;
    padding-left:15px;
    width: 400px;
    height: 200px;
    box-shadow:5px 5px 10px  10px rgb(238, 236, 236);
   /* margin-top: 50px;
     margin-bottom: 50px;**/
    
}

.main3513 img{
    box-shadow:5px 5px 10px  10px rgb(238, 236, 236);
   
   /* margin-left: 500px;
    margin-top: -700px;**/
   
}
.main351{
    display:flex;
   
    gap: 50px;


}
.main35 h1{
      margin-bottom:50px;
}
.main35 a{
    color: black;
    
}

.main51{
    background-color: white;
    width: 400px;
    height: 200px;
    padding-top: 20px;
    padding-right: 20px;
    border: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(234, 232, 232);
}
.main52{
    background-color: white;
    width: 400px;
    height: 200px;
    padding-top: 20px;
    padding-right: 20px;
    border: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(234, 232, 232);
}
.main53{
    background-color: white;
    width: 400px;
    height: 200px;
    padding-top: 20px;
    padding-right: 20px;
    padding-right: 20px;
    border: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(234, 232, 232);
}
.main5{
    display: flex;
    gap: 50px;
    padding-left: 90px;
    margin-bottom:50px;
    
}
.main4 h1{

    margin-top:90px ;
    text-align: center;
    margin-bottom: 90px;
}

.animation{
    height: 100%;
    margin-bottom: 50px;
}
.animation1,
.animation2{
    
    gap: 50px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    left: 100%;
    
    
}

.animation1{
    display: flex;
    justify-content: space-around;
    animation: scroll-horizontal 50s linear infinite;
}
.animation2{
    display: flex;
    justify-content: space-around;
    animation: scroll-horizontal 50s linear infinite;
    animation-delay:23s;
}

@keyframes scroll-horizontal{
    0%{
        left: 100%;
    }
    100%{
        left: -100%;
    }
}
.animation1:hover,.animation1:hover ~.animation2 {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused ;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
.animation2:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused ;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
.main6{
    padding: 90px;
    margin-top:200px;
    color: white;
    background-image: url(360_F_240635575_EJifwRAbKsVTDnA3QE0bCsWG5TLhUNEZ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
